.wrapper {
  padding: 25px 62px 25px 29px;
  display: grid;
  grid-template-columns: 353px 1fr;
  column-gap: 40px;
}

.goodsHolder {
  display: grid;
  grid-template-columns: repeat(auto-fill, 286px);
  grid-auto-flow: column, dense;
  column-gap: 52px;
  row-gap: 73px;
}
