.cardLink {
  color: #000;
  text-decoration: none;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    color: #000;
    text-decoration: none;
  }
}

.card {
  max-width: 320px;
  height: 393px;
  border: 0;
  border-radius: 15px;
  background-color: #d9d9d9;
}

.cardImage {
  width: 281px;
  height: 262px;
  object-fit: cover;
  padding: 18px 18px 0;
}

.cardBody {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  width: 211px;
  max-height: 40px;
  flex-grow: 1;
  font-family: PlexSans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}

.cardPrice {
  margin: 0;
  font-family: PlexSans, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.favouriteButton {
  position: absolute;
  top: 19px;
  left: 21px;
}

.favouriteIcon {
  -webkit-filter: invert(100%);
  width: 35px;
}

.addCartButton {
  padding: 8px;
  position: absolute;
  bottom: 23px;
  right: 5px;
  border-radius: 10px;
  background-color: #f81c1c;
}

.cartIcon {
  -webkit-filter: invert(100%);
  width: 35px;
}
