@import "src/static/colors/colors.scss";

.header {
  color: #fff;
  background-color: $dark-grey;
}

.toolbar {
  padding: 15px 106px 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
}

.logo {
  width: 170px;
}

.heading {
  margin-bottom: 9;
  font-family: PlexSans, sans-serif;
  font-size: 56px;
  line-height: 85px;
  text-align: center;
}

.search {
  margin-left: 65px;
  display: flex;
  align-items: center;
  gap: 23px;
}

.searchInput {
  width: 439px;
  padding: 4px 0 4px 20px;
  border: 0;
  border-radius: 20px;
  font-family: PlexSans, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: $grey;
}

.searchIcon {
  width: 26px;
}

.navbar {
  display: flex;
  gap: 60px;
}

.badgeButton {
  position: relative;
}

.badge {
  position: absolute;
  top: -5px;
  right: -25px;
  background-color: #fff;
}

.navIcon {
  width: 45px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.category {
  padding: 15px 0;
  margin: 0;
  border-bottom: 2px solid transparent;
  font-family: Inika, sans-serif;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  line-height: 41px;
  color: #fff;
  text-decoration: none;

  &:hover {
    transition: 0.3s;
    background-color: #2b2b2b;
    color: #fff;
  }
}

.all {
  background-color: #080707;

  &:hover {
    background-color: #080707;
  }
}

.active {
  background-color: #2b2b2b;
}
