@font-face {
  font-family: PlexSans;
  src: url("./PlexSans/IBMPlexSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: PlexSans;
  src: url("./PlexSans/IBMPlexSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Inika;
  src: url("./Inika/Inika-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: EncodeSans;
  src: url("./EncodeSans/EncodeSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
