.filter {
  width: 353px;
  height: 400px;
  padding: 0 18px;
  background-color: #d9d9d9;
}

.title {
  margin: 0;
  padding: 20px 0 15px 23px;
  font-family: Inika, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #7a7878;
  border-bottom: 1px solid #000;
}
